.current-series {
    background-color: $dkgray_color;
    padding-bottom: 30px;
}

h2{
    background-color: $blue_color;
    font-size: $m_font_barl;
    padding: 5px 20px;
    position: relative;
    font-family: $font_first;
    color: $white_color;
    top: -18px;
    width: max-content;
}

.comics-container {
    padding: 0px 0 30px;
    position: relative;
    color: $white_color;
    display: flex;
    flex-wrap: wrap;
    text-align-last: left;
}

.comic {
    width: calc( 100% / 6 );
    padding: 10px;

    .comic-img {
        height: 115px;
        overflow: hidden;                
    }

    .comic-title {
        margin-top: 7px;
        margin-bottom: 5px;
        max-width: fit-content;

        a {
            color: $white_color;
            text-decoration: none;
            font-family: $font_second;
            font-size: $s_font_mont;
            text-transform: uppercase;
            
        }
    }
}

.buy_comics {
    background-color: $blue_color;

    .container {
        display: flex;
        align-items: center;
    }
}

.card {
    display: flex;
            align-items: center;         
            width: calc( 100% / 5 );   
            padding: 35px 20px;         
            color: $white_color;

            &:last-child img {
                width: 35px;
                height: auto;
            }

            img {
                height: 35px;
                width: auto;
                margin-right: 10px;
            }
}

.text_card {
    text-transform: uppercase;
    font-size: $s_font_mont;
    font-family: $font_second;
}

.poster_comic {
    height: 55px;
    background-color: $blue_color;

    .container {
        width: 53%;
        position: relative;
        height: 100%;
    }

    img {
        height: 190px;
        width: auto;
        position: absolute;
        bottom: 12px;
        left: 0;
        border: 1px solid $white_color;
    }
}

.presentation {
    padding: 50px 0;

    .container {
        display: flex;
        width: 53%;
    }

    .info_comic {
        width: 68%;

        .description_comic {
            color: $lgray_color;
            font-size: 12px;
        }
       
    }

    .price_info {
        background-color: $green_color;
        display: flex;
        margin-bottom: 20px;

        .price {
            border-right: 1px solid rgba(32, 32, 32, 0.459);
            width: 65%;
            padding: 8px;
            display: flex;
            justify-content: space-between;
            

            span.title {
                color: $lgreen_color;
                font-family: $font_second;
                font-size: $sm_font_mont;
                font-weight: 500;
                margin-right: 5px;
            }

            span.price-number {
                font-family: $font_second;
                font-size: $sm_font_mont;
                font-weight: 500;
                color: $white_color;
            }
        }

        .check {
            padding: 8px;
            width: 35%;
            text-align: center;
            font-family: $font_second;
            color: $white_color;
            font-size: $sm_font_mont;
            font-weight: 500;

            span {
                font-size: 5px;
            }
        }

    }

    .advertisement {
        width: 32%;
        padding-left: 25px;
        text-align: right;

       .adv_text {
        color: $lgray_color;
        font-family: $font_first;
        text-transform: uppercase;
        font-weight: 600;
        font-size: $s_font_barl;
       }

       .adv_img {
        margin-top: 3px;
       }
    }

}

