//colori
$blue_color: #0082f9;
$gray_color: #1d1d1d;
$white_color: #ffffff;
$dkgray_color:#1c1c1c;
$dblue_color: #003f6c;
$lgreen_color: #a0f38e;
$green_color: #55ba59;
$lgray_color: #5f5f5f;


//font
$font_first: 'Barlow Condensed', sans-serif;
$font_second: 'Montserrat', sans-serif;

//grandezza font Barlow
$s_font_barl: 11px;
$xs_font_barl: 8px;
$m_font_barl: 21px;
$ml_font_barl: 23px;


//grandezza font Montserrat
$xs_font_mont: 7px;
$s_font_mont: 8px;
$sm_font_mont: 11px;


$xs_font_fas: 5px;