//colori
$blue_color: #0082f9;
$gray_color: #1d1d1d;
$white_color: #ffffff;
$dkgray_color:#1c1c1c;


//font
$font_first: 'Barlow Condensed', sans-serif;
$font_second: 'Montserrat', sans-serif;

//grandezza font Montserrat
$xs_font_mont: 7px;

//grandezza font Barlow
$s_font_barl: 11px;
$xs_font_barl: 8px;


$xs_font_fas: 5px;